<!DOCTYPE html>
<html>
  <head>
    <title>Code Fellows Contact Manager</title>

    <!-- bower:js -->
    <script src="jquery/jquery.js"></script>
    <script src="fabric/fabric.js"></script>
    <script src="bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->

    <script src="email.js"></script>

    <!-- Application Styles and Scripts -->
    <link rel="stylesheet" href="jsbootcamp.css">
    <link rel="stylesheet" href="font-awesome.css">
  </head>

  <body>
    <div>
      <h1>Emailing {{contact.firstName}} {{contact.lastName}}</h1>
      <textarea>Type Message Here...</textarea>
      <button class="send-email btn btn-default">Send</button>
      </form>
    </div>
  </body>
</html>
